*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
    height:100vh;
    align-items: center;
    justify-content: space-between;
}

.header{
    background-color: #2a2438;
    display: flex;
    padding: 20px;
    justify-content: space-around;
    color: #dbd8e3;
    width: 100%;
    flex:1;
}

.btn{
    border-radius: 10px;
    padding: 10px;
    background-color: #2a2438;
    color: #dbd8e3;
    cursor: pointer;
    border: 1px solid #dbd8e3;
    font-size: 1em;
    font-weight: bold;
}
.btn:hover{
    border: 1px solid #2a2438;
    background-color: #dbd8e3;
    color: #2a2438;
    font-weight: bold;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 40px;
    background-color: #5c5470;
    width: 100%;
    flex:20;
    /* color:; */
    font-weight: bold;
    /* padding: 20px; */
    min-width: 600px;
}

#win-banner{
    display: none;
}

.form-container{
    display: none;
    position: absolute;
    background-color: #2a2438;
    z-index: 1;
    top: 25vh;
    align-self: center;
    padding: 60px;
    border-radius: 80px;
}
.form-container>button{
    margin-top: 3%;
    margin-left: 40%;
}

.form-main-container{
    /* border-radius: 20px; */
    color: #dbd8e3;
    display: flex;
    gap: 20px;
    /* align-items: center; */
}
.form-main-container>div{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    /* font-size: 1.2em; */
    font-weight: bold;
}
.form-items{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-items>input{
    padding: 5px;
    border-radius: 10px;
    opacity: 0.8;
    /* color: #5c5470; */
    font-weight: bold;
    font-size: 0.9em;
}


.player-heading{
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-size: 1.2em;
}
.player-heading>h3{
    text-align: center;
}

.game-board{
    padding: 60px 200px;
    align-self: center;
    height:100%;
    display: grid;
    grid-template: repeat(3,1fr)/repeat(3,1fr);
}
.game-tiles{
    font-size: 1.4em;
    background-color: #352f44;
    color: #dbd8e3;
    min-width: 20vw;
    border: 1px solid #000;
    cursor: pointer;
    min-width: 125px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.game-tiles:hover{
    background-color: #2a2438;
    opacity: 0.4;
}


.footer{
    background-color: #2a2438;
    color: #dbd8e3;
    width: 100%;
    padding: 20px 20px 10px 20px;
    text-align: center;
    flex:1;
}
